@model UserInfo
@{
    ViewBag.Title = "Başvuru Formu";  
}
<h1 class="h4 text-center">Toplantı Katılım Formu</h1>
<form method="post" action="/meeting/apply" novalidate>    
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">Attend State</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="">Select</option>
            <option value="true">Yes, Will Attend</option>
            <option value="false">No, Will Not Attend</option>
        </select>
    </div>

    <button class="btn btn-outline-primary" type="submit">Kaydet</button>
</form>