@model Ogretmen

<p>
    <b>@Model.OgretmenAd @Model.OgretmenSoyad</b> isimli öğretmeni silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.OgretmenId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>