@model MeetingInfo
<!--When you don't want to use the generic layout-->
@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout2";
}
<main class="text-center">

    <h1 class="h4">@ViewData["Selamlama"]</h1>
    <p>Toplantı Katılım Durumunuzu Bildiriniz</p>
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") Tarihinde Gerçekleşecek</li>
            <li class="list-group-item">Katılan Kişi Sayısı : @Model.NumberOfPeople</li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
</main>